<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block more_head %}{% endblock %}

<nav class="blue">

    <div class="nav-wrapper">
        <a href="/"></a><img src=""></i>Dulles High School TSA</a>
      <ul class="right hide-on-med-and-down">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>

        </ul>
      </ul>
    </div>


</nav>
</head>

<body>
    {% block body %}

    {% endblock %}

</body>
</html>