<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'TSAWeb_App/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block more_head %}{% endblock %}
</head>

<nav class="blue">

    <div class="nav-wrapper">
        <a href="/"></a><img src=""></i>Dulles High School TSA</a>
      <ul class="right hide-on-med-and-down">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Blog</a></li>

        </ul>
      </ul>
    </div>


</nav>


<body>
    {% block body %}

    {% endblock %}
<footer class="page-footer, blue" style = "position:relative; bottom:0px">

    <div class="container" style="">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Dulles Technology Student Association</h5>
                <p class="grey-text text-lighten-4">(Placeholder Text Here)</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://tsaweb.org/">Official TSA Website</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.fortbendisd.com/dhs/">Dulles High
                        School Website</a></li>
                    <li><a class="grey-text text-lighten-3" href="/contact">Our Socials</a></li>
                    <li><a class="grey-text text-lighten-3" href="/admin">Administrator Sign In</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <h6 class="white-text">
                Empowering Students Through STEM - DHS TSA
            </h6>
        </div>
    </div>


</footer>

</body>
</html>