{% extends "base.html" %}
{% block body %}
<div class="MainBody">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png"
         width="100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small one-line">
        <div class="home-title">
            <h1>Dulles High School</h1>
        </div>
        <h2>Technology Student Association</h2>
    </div>

</div>
{% endblock %}