.home-title {
color: white;
text-align:center;
}

.one-line {
white-space: nowrap;
}

.tsa-logo {
position: relative;
bottom: 2px;
}

.footer-gap-fill{
padding-bottom: 10px
}

nav{
color:#192841;
}
footer{
width:100%;
}




